<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFfNzy-3nwZQSkEgwDjMX2eD3uyAkpzO8</string>
	<key>GCM_SENDER_ID</key>
	<string>644912730707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockScreener</string>
	<key>PROJECT_ID</key>
	<string>stockscrneer-66cbf</string>
	<key>STORAGE_BUCKET</key>
	<string>stockscrneer-66cbf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644912730707:ios:50210cf7b2cd7dd61d2ca6</string>
</dict>
</plist>